body{
	font-family: "Arial" , "Sans-sarif";
	width: 100%;
	height: 100%;
	background-color: peachpuff;
}

/* container styling */
#game-container{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding: 10px;
	margin: auto;
	max-width: 70%;
}

#header{
	border: 5px solid navy;
	padding: 5px;
	background-color: royalblue;
	color: purple;
}

/* board styling */
#board-container{
	display: flex;
	justify-content: center;
}

#board{
	display: flex;
	flex-wrap: wrap;
	max-width: 450px;	
}

.square{
	box-sizing: border-box;
	width: 150px;
	height: 150px;
	border: 1.5px solid black;
	background-color: lightgreen;
}

/* score styling */
.scoreBoard{
	margin: 20px;
	padding: 10px;
	border: 2px solid orange;
}

#score{
	display: flex;
	flex-direction: column;
}

#score span{
	padding: 10px;
	margin: auto;
}

/* button styling */
#wrap {
	text-align: center
}